@import url("https://fonts.googleapis.com/css2?family=Goblin+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200&display=swap");

html,
body {
  height: 100vh;
  margin: 0;
  font-family: "Cairo";
  background-color: lightgray;
}
audio {
  display: none;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.even {
  justify-content: space-evenly;
}
.col {
  flex-direction: column;
}
.bg-orange {
  background-color: #f6911d;
}
.bg-green {
  background: linear-gradient(rgb(92, 231, 50), rgb(1, 92, 28));
  color: white;
}
.bg-blue {
  background: linear-gradient(rgb(50, 122, 231), rgb(1, 15, 92));
  color: white;
}
.bg-red {
  background: linear-gradient(rgb(253, 85, 85), rgb(121, 2, 2));
  color: white;
}
.bg-yellow {
  background: linear-gradient(rgb(253, 253, 86), rgb(77, 77, 1));
  color: black;
}
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: green;
}
.transparent {
  background-color: transparent;
  border: none;
}
.bold {
  font-weight: bold;
}
.footer {
  background-color: black;
  font-family: monospace;
  font-size: medium;
  margin: 0;
  padding: 0.1rem 0;
  justify-content: space-between;
}
.footer span,
a {
  color: lightgray;
  margin: 0.4rem;
}
.footer a {
  font-size: 1.4rem;
}
.footer i.fa-info-circle {
  color: lightblue;
  font-size: 1.5rem;
}
button {
  border-radius: 3px;
  padding: 0.5rem;
  font-weight: bold;
  border: none;
  background-color: white;
  outline: 0;
}
input {
  outline: 0;
}
sup {
  color: lightblue;
}
mark {
  padding: 0.2rem;
  color: rgb(207, 206, 206);
  background-color: transparent;
}
ol li {
  padding: 0.15rem 0;
}
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 0.5rem solid black;
}
#profile {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.5rem;
}
.table {
  display: grid;
  grid-gap: 0.3rem;
  grid-template-columns: repeat(3, 1fr);
}
.cell {
  text-align: center;
  padding: 0.3rem;
}
.circle-badge {
  background: radial-gradient(rgb(0, 38, 68), rgb(170, 229, 252));
  border-radius: 50%;
  font-weight: bold;
  transform: translateY(-4px);
}
.signout {
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
  background-color: grey;
  font-weight: bold;
  cursor: pointer;
}
.title {
  font-family: "Goblin One";
  padding: 0.8rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgb(4, 0, 10), rgb(5, 0, 41));
  color: rgb(170, 229, 252);
}
.title > span {
  margin-left: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.player-icon {
  width: 10vh;
}
.player-name {
  font-family: "Goblin One";
  color: #f6911d;
  margin: 0.5rem;
}
.player-name span {
  color: white;
  font-size: 1rem;
}

#search {
  background-color: lightgrey;
  border: 0.5rem solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
.search-text {
  width: 100%;
  height: 2rem;
  border-radius: 4px;
  text-indent: 1rem;
  border: none;
}
#message {
  background-color: red;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#opponents {
  text-align: center;
  background-color: lightgrey;
  border: 0.5rem solid grey;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
  overflow-y: scroll;
}
.opponent {
  margin: 0.3rem 0;
  cursor: pointer;
  background-color: black;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 4px 5px 1px grey;
  -webkit-tap-highlight-color: transparent;
  animation: curtain 0.6s ease-in 0s 1;
}
@keyframes curtain {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 3rem;
    opacity: 1;
  }
}
.opponent-profile {
  display: flex;
  align-items: center;
  width: 80%;
  padding: 1rem;
}
.opponent-icon {
  width: 5vh;
}
.opponent-name {
  margin-left: 0.8rem;
}
.opponent-status {
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 1rem;
  border-radius: 50%;
}
.modalDialog {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  pointer-events: auto;
}
.modalDialog > div {
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  padding: 0.2rem 0.6rem 0.8rem 0.6rem;
  border-radius: 10px;
  background: linear-gradient(#fff, rgb(29, 28, 28));
}
.modalDialog img {
  width: 15rem;
}
.modalDialog h3 {
  font-family: monospace;
}
.modalDialog button.round {
  border-radius: 50%;
  font-size: large;
}
#header {
  justify-content: space-between;
  background-color: black;
  padding: 0.1rem 1rem;
}
.timer {
  color: yellow;
  font-family: "Goblin One";
  padding: 0.5rem;
  border: 1rem solid white;
  border-radius: 50%;
}
#words {
  background-color: lightgrey;
  flex: 1;
  padding: 0.5rem;
  overflow-y: scroll;
  margin-bottom: 0.5rem;
}
.user-words {
  width: 50%;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-end;
}
.opponent-words {
  width: 50%;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}
details {
  padding: 0.5rem;
  border-radius: 4px;
  width: 80%;
  margin-bottom: 0.5rem;
}
summary {
  font-weight: bold;
  font-size: large;
  position: relative;
}
summary i {
  position: absolute;
  right: 9px;
  font-size: medium;
  top: 20%;
  opacity: 0.8;
}
.error {
  font-family: monospace;
  color: #ff3838;
  margin: 0;
  padding: 0.1rem;
  border: 0.1px solid #ff3838;
  background-color: #fee0d4;
  text-align: center;
  font-weight: bold;
}
.error i {
  font-size: 12px;
}
#controls {
  justify-content: space-evenly;
  padding: 1rem 0.5rem;
  background-color: black;
}
.word-text {
  width: 85%;
  height: 2rem;
  border-radius: 4px;
  text-indent: 1rem;
  border: none;
  outline: 0;
}
.signup-page {
  background-color: #6ac0b0;
  flex: 1;
}
.signup-page button {
  width: 100%;
  padding: 0.8rem;
  background-color: #6ac0b0;
  color: white;
}
.signup-page button:hover {
  background-color: #1a5247;
}
.signin-page {
  background-color: #89c06a;
  flex: 1;
}
.signin-page button {
  width: 100%;
  padding: 0.8rem;
  background-color: #43a047;
  color: white;
}
.signin-page button:hover {
  background-color: rgb(21, 65, 21);
}
.auth {
  background-color: white;
  padding: 2rem;
  width: 50%;
  border-radius: 4px;
  border-left: 1rem solid rgb(70, 69, 69);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.auth > * {
  margin: 0.5rem;
  width: 100%;
}
.auth input {
  border: 0;
  width: 95%;
  padding: 1rem;
  background: #f2f2f2;
  border-radius: 4px;
}
.auth h4 {
  color: rgb(68, 68, 68);
  text-align: center;
}
.auth h4 a {
  color: rgb(158, 4, 76);
  text-decoration: none;
}
.auth p {
  background-color: transparent;
  border: none;
  font-size: small;
}
#instruction {
  margin: 0 0.5rem;
  margin-bottom: 2.5rem;
}
#instruction div {
  background: black;
  color: grey;
  border: 1px solid skyblue;
}
#instruction h3 {
  width: 95%;
}
#instruction h3 span:nth-child(1) {
  color: skyblue;
  margin-bottom: 0;
  text-decoration: underline;
}
#instruction h3 span:nth-child(2) {
  color: grey;
  position: absolute;
  right: 2rem;
}
.rotate {
  animation: spin 0.6s linear 0s infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
